<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:replace="~{script :: scripts}"></script>

    <title>AccessDenied</title>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Main Content -->
<!-- Main Content -->
<div class="error-container">
    <i class="fas fa-exclamation-triangle error-icon"></i>
    <h3 class="error-title">Không thể truy cập!</h3>
    <h4 class="error-message">Bạn không có quyền truy cập trang này.</h4>
    <h5 class="error-message">Bạn hãy đăng nhập để tiếp tục.</h5>

    <a href="/login" class="btn btn-success btn-custom"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
    <a href="/" class="btn btn-primary btn-custom"><i class="fas fa-home"></i> Trang chủ</a>
</div>

<!-- Include Footer -->
<div th:replace="~{home/footer :: footer}"></div>

</body>
</html>