<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:replace="~{script :: scripts}"></script>

    <title>Tạo Đơn Hàng</title>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Content -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Tạo Mới Yêu Cầu Liên Hệ</h2>
            <h3 class="text-success">Tên sản phẩm:
                <span th:if="${product}" th:text="${product.productName}"></span>
            </h3>

            <!-- Hiển thị thông báo lỗi -->
            <div th:if="${errorMess}" class="text-danger">
                <span th:text="${errorMess}"></span>
            </div>
            <form th:action="@{/addOrder/product/{productId} (productId =${product.id}, blogId=${blog.id}) }" method="post" th:object="${order}">
                <!-- Tên người mua -->
                <div class="form-group">
                    <label for="buyerName" class="form-label">Tên người đặt hàng:</label>
                    <input type="text" id="buyerName" name="address" th:field="*{buyerName}" class="form-control" placeholder="Nhập tên của bạn"
                           required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin')" oninput="this.setCustomValidity('')">
                    <div class="text-danger" th:if="${#fields.hasErrors('buyerName')}" th:errors="*{buyerName}"></div>
                </div>
                <!-- Địa chỉ -->
                <div class="form-group">
                    <label for="address" class="form-label">Địa chỉ:</label>
                    <input type="text" id="address" name="address" th:field="*{address}" class="form-control" placeholder="Nhập địa chỉ của bạn"
                           required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin')" oninput="this.setCustomValidity('')">
                    <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                </div>

                <!-- Số điện thoại -->
                <div class="form-group">
                    <label for="phone" class="form-label">Số Điện Thoại:</label>
                    <input type="text" id="phone" name="phone" th:field="*{phone}" class="form-control" placeholder="Số điện thoại hợp lệ (0xxxxxxxxx)"
                           required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin')" oninput="this.setCustomValidity('')">
                    <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email" class="form-label">Nhập địa chỉ email (nếu có):</label>
                    <input type="text" id="email" name="phone" th:field="*{email}" class="form-control" placeholder="Nhập địa chỉ email">
                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <!-- Phương thức thanh toán -->
                <div class="form-group">
                    <label for="paymentMethod" class="form-label">Phương Thức Thanh Toán:</label>
                    <select id="paymentMethod" name="paymentMethod" th:field="*{paymentMethod}" class="form-control" required>
                        <option value="" disabled selected>-- Chọn --</option>
                        <option value="CASH">Thanh toán trực tiếp</option>
                        <option value="BANK_TRANSFER">Chuyển khoản</option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}"></div>
                </div>

                <!-- Giá mong muốn -->
                <div class="form-group">
                    <label class="form-label"> Giá hiện tại: <span th:text="${#numbers.formatInteger(product.price,3,'POINT')}"></span>VNĐ/<span th:text="${product.unit.vietnamese}"></span></label>
                    <p></p>
                    <label for="expectedPrice" class="form-label">Giá Mong Muốn:</label>
                    <input type="number" id="expectedPrice" name="expectedPrice" th:field="*{expectedPrice}" class="form-control" placeholder="Nhập giá mong muốn"
                           th:value="${order.expectedPrice != null and order.expectedPrice > 0 ? order.expectedPrice : product.price}">
                    <div class="text-danger" th:if="${#fields.hasErrors('expectedPrice')}" th:errors="*{expectedPrice}"></div>
                </div>
                <!--Số luọng -->
                <div class="form-group">
                    <label for="quantity" class="form-label">Số lượng:</label>
                    <input type="number" id="quantity" name="quantity" th:field="*{quantity}" class="form-control" placeholder="Nhập số lượng" min="1"
                           required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin')" oninput="this.setCustomValidity('')">
                    <div class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                </div>
               <!-- Ghi chú -->
                <div class="form-group">
                    <label for="note" class="form-label">Ghi Chú cho chủ trang trại:</label>
                    <textarea id="note" name="note" th:field="*{note}" class="form-control" placeholder="Nhập ghi chú" rows="3"
                              required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin')" oninput="this.setCustomValidity('')"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></div>
                </div>

                <!-- Nút đăng ký -->
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Tạo Yêu cầu liên hệ</button>
                    <a href="/home" class="btn btn-secondary">Quay Lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include Footer -->
<div th:replace="~{home/footer :: footer}"></div>

</body>
</html>