<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:replace="~{script :: scripts}"></script>
  <title>Quản Lý Đơn hàng</title>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Content -->
<div class="container-fluid">
  <h3 class="text-center">Quản lý các đơn đã đặt</h3>

  <h4 class="text-left">Danh sách đơn đã đặt</h4>
  <h5 class="text-left">Người đặt: <span class="text-success" th:text="${session.loggedInUser.username}"></span></h5>
  <!-- Hiển thị thông báo thành công -->
  <div th:if="${successMess}" class="alert alert-success text-center">
    <span th:text="${successMess}"></span>
  </div>

  <!-- Danh sách Blog -->
  <div class="table-container">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Mã đơn hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Người đặt hàng</th>
        <th>Trạng thái đơn hàng</th>
        <th>Loại đơn hàng</th>
        <th>Giá trị của đơn</th>
        <th>Giá mong muốn</th>
        <th>Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order, status : ${orders}">
        <td th:text="${status.index + 1}"></td>
        <td th:text="${order.id}"></td>
        <td th:text="${#temporals.format(order.orderDate,'dd-MM-yyyy')}"></td>
        <td th:text="${order.user.username}"></td>
        <td>
          <span class="badge badge-warning" th:if="${order.orderStatus.name()=='PENDING'}">
                     <i class="fas fa-hourglass-half"></i> Chờ xác nhận
          </span>

          <span class="badge badge-primary" th:if="${order.orderStatus.name() == 'CONFIRMED'}">
                    <i class="fas fa-check-circle"></i> Đã xác nhận
                    </span>

          <span class="badge badge-success" th:if="${order.orderStatus.name() == 'COMPLETED'}">
                    <i class="fas fa-box-open"></i> Đã hoàn thành
          </span>

          <span class="badge badge-danger" th:if="${order.orderStatus.name() == 'CANCELED'}">
                    <i class="fas fa-times-circle"></i> Đã hủy
           </span>
        </td>
        <td th:text="${order.orderType}"></td>
        <td class="text-success">
          <span th:if="${order.products !=null and not #lists.isEmpty(order.products)}"
                th:text="${#numbers.formatInteger(order.products[0].price,3,'POINT')}">
          </span>
          <span th:if="${order.tours != null and not #lists.isEmpty(order.tours)}"
                th:text="${#numbers.formatInteger(order.tours[0].ticketPrice,3,'POINT')}">
          </span>
        </td>
        <td class="text-danger" th:text="${#numbers.formatInteger(order.expectedPrice,3,'POINT')}"></td>
        <td>
          <a th:if="${order.orderStatus.name() == 'CONFIRMED'or order.orderStatus.name() == 'CANCELED' or order.orderStatus.name() == 'COMPLETED'}"
             th:href="@{/detailOrder/{orderId}(orderId=${order.id})}" class="btn btn-info btn-sm btn-action">
            <i class="fas fa-eye"></i> Xem liên hệ
          </a>
          <a th:if="${order.orderStatus.name() == 'COMPLETED'}"
             th:href="@{/reviewOrder/{orderId} (orderId=${order.id}, blogId=${order.blog.id})}" class="btn btn-warning btn-sm btn-action">
            <i class="fas fa-star"></i> Đánh giá
          </a>
          <a th:if="${session.role == 'BUYER' and order.orderStatus.name() == 'PENDING'}"
             href="javascript:void(0)"
             class="btn btn-danger btn-sm btn-action"
             th:attr="onclick=|confirmCancelOrder('${order.id}')|">
            <i class="fas fa-times-circle"></i> Hủy đơn
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Footer -->
<div th:replace="~{home/footer :: footer}"></div>
<script>
  function confirmCancelOrder(orderId) {
    let reason = prompt("Nhập lý do từ chối đơn:");
    if (reason !== null && reason.trim() !== "") {
      window.location.href = "/canceledOrder/buyer/" + orderId + "?reason=" + encodeURIComponent(reason);
    }
  }
</script>
</body>
</html>
