<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:replace="~{script :: scripts}"></script>
  <title>Quản Lý Chuyến tham quan</title>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Content -->
<div class="container-fluid">
  <h3 class="text-center">Quản lý chuyến tham quan</h3>
    <!-- Hiển thị thông báo -->
  <div th:if="${successMess}" class="alert alert-success text-center">
    <span th:text="${successMess}"></span>
  </div>

  <div th:if="${errorMess}" class="alert alert-error text-center">
    <span th:text="${errorMess}"></span>
  </div>
  <!-- Danh sách sản phẩm -->
  <div class="table-container">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Chuyến tham quan</th>
        <th>Mô Tả</th>
        <th>Loại hình</th>
        <th>Giá vé/người</th>
        <th>Trạng thái</th>
        <th>Thuộc trang trại</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tour, status : ${tours}">
        <td th:text="${status.index + 1}"></td>
        <td th:text="${tour.tourName}"></td>
        <td th:text="${tour.description}"></td>
        <td th:text="${tour.tourType.vietnamese}"></td>

        <td th:if="${tour.ticketPrice == 0}">Miễn Phí vào cổng</td>
        <td th:unless="${tour.ticketPrice == 0}" th:text="${#numbers.formatInteger(tour.ticketPrice,3,'POINT')}"></td>
        <td>
          <span class="badge badge-success" th:if="${tour.tourStatus.name() == 'OPENING'}"> Đang mở</span>
          <span class="badge badge-danger"  th:if="${tour.tourStatus.name() == 'CLOSED' }"> Đã đóng</span>
        </td>
        <td th:text="${tour.farm.getFarmName()}"></td>
        <td>
          <a th:href="@{/editTour/{id}(id=${tour.id})}" class="btn btn-warning btn-sm btn-action">
            <i class="fas fa-edit"></i> Sửa
          </a>
          <a th:href="@{/deleteTour/{id}(id=${tour.id})}"
             class="btn btn-danger btn-sm btn-action"
             onclick="return confirm('Bạn có muốn xoá chuyến tham quan này?');">
            <i class="fas fa-trash-alt"></i> Xóa
          </a>

          <a th:href="@{/addBlog/tour/{id}(id=${tour.id})}" class="btn btn-info btn-sm btn-action">
            <i class="fas fa-plus"></i> Thêm bài viết
          </a>
          <a th:href="@{/manageBlog/tour/{id} (id=${tour.id})}" class="btn btn-info btn-sm btn-action">
            <i class="fas fa-list"></i> Các bài viết
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Footer -->
<div th:replace="~{home/footer :: footer}"></div>

</body>
</html>