<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script th:replace="~{script :: scripts}"></script>
    <title>Live Stream Page</title>
</head>

<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Main content -->
<main class="container-fluid mt-4">
    <h2 class="text-center text-primary mb-4">
        <i class="fas fa-broadcast-tower"></i> Danh Sách Buổi Live
    </h2>
    <div class="row">
        <div th:each="liveStream : ${liveStreams}" class="col-md-6 mb-4">
            <div class="card homecard shadow-sm">
                <div class="card-body">
                    <!-- Tiêu đề -->
                   <h5 class="card-title">
                        <i class="fas fa-video text-danger d-inline"></i>

                        <a th:href="@{'/detailLiveStream/' + ${liveStream.id}}" th:text="${liveStream.title}" class="text-dark d-inline"> </a>
                    </h5>

                    <!-- Thời gian phát sóng -->
                    <p class="text-muted">
                        <i class="fas fa-calendar-alt"></i>
                        <span th:text="${#temporals.format(liveStream.dateToLive, 'dd/MM/yyyy HH:mm')}"></span>
                    </p>

                    <!-- Trang trại tổ chức -->
                    <p class="text-muted">
                        <i class="fas fa-tractor text-primary"></i>
                        Trang trại: <span th:text="${liveStream.farm.farmName}"></span>
                    </p>

                    <!-- Mô tả ngắn -->
                    <p class="card-text" th:text="${#strings.abbreviate(liveStream.description, 100)}"></p>

                    <a th:href="@{'/detailLiveStream/' + ${liveStream.id}}" class="btn btn-primary btn-sm">
                        <i class="fas fa-play-circle"></i> Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Include Footer -->
<div th:replace="~{home/footer :: footer}"></div>

</body>
</html>
