<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:replace="~{script :: scripts}"></script>

  <title>Quản Lý Nông Sản</title>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Content -->
<div class="container-fluid">
  <h3 class="text-center">Quản Lý lịch live stream</h3>

  <h4 class="text-center">Danh sách các buổi live stream</h4>

  <!-- Hiển thị thông báo xóa thành công -->
  <div th:if="${successMess}" class="alert alert-success text-center">
    <span th:text="${successMess}"></span>
  </div>

  <!-- Danh sách buoi live -->
  <div class="table-container">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên Trang trai</th>
        <th>Tieu de</th>
        <th>Ngày live</th>
        <th>Mo ta</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="liveStream, status : ${liveStreams}">
        <td th:text="${status.index +1}"></td>
        <td th:text="${liveStream.farm.farmName}"></td>
        <td th:text="${liveStream.title}"></td>
        <td th:text="${#temporals.format(liveStream.dateToLive, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${liveStream.description}"></td>
        <td>
          <a th:href="@{/editLiveStream/{id}(id=${liveStream.id})}" class="btn btn-warning btn-sm btn-action">
            <i class="fas fa-edit"></i> Sửa
          </a>
          <a th:href="@{/deleteLiveStream/{id}(id=${liveStream.id})}"
             class="btn btn-danger btn-sm btn-action"
             onclick="return confirm('Bạn có muốn xoá buoi live này?');">
            <i class="fas fa-trash-alt"></i> Xóa
          </a>

      </tr>
      </tbody>
    </table>
  </div>
</div>


  <!-- Include footer -->
    <div th:replace="~{home/footer :: footer}"></div>
</body>
</html>