<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh Sửa người dùng</title>
    <script th:replace="~{script :: scripts}"></script>
</head>
<body>
<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Content -->


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-4">Cập nhật thông tin người dùng</h2>
                <form th:action="@{/editUser/{id} (id=${user.id})}" method="post" th:object="${user}">
                    <input type="hidden" th:field="*{id}">
                    <!-- Hiển thị thông báo sửa thất bại -->
                    <div class="text-danger" th:if="${errorMess}" th:text ="${errorMess}" ></div>
                    <!-- Hiển thị thông báo sửa thành công -->
                    <div th:if="${successMess}" class="mess">
                        <span th:text="${successMess}"></span>
                    </div>
                    <!-- Tên đăng nhập -->
                    <div class="form-group">
                        <label class="form-label">Tên Đăng Nhập:  <span th:text="${user.username}" class="mess"></span></label>

                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="form-label">Email: </label>
                        <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Nhập email hợp lệ" required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin vào ô này.')" oninput="this.setCustomValidity('')">
                        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <!-- Số điện thoại -->
                    <div class="form-group">
                        <label for="phone" class="form-label">Số Điện Thoại: </label>
                        <input type="text" id="phone" name="phone" th:field="*{phone}" class="form-control" placeholder="Nhập số điện thoại" required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin vào ô này.')" oninput="this.setCustomValidity('')">
                        <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                    </div>

                    <!-- Địa chỉ -->
                    <div class="form-group">
                        <label for="address" class="form-label">Địa Chỉ: </label>
                        <textarea id="address" name="address" th:field="*{address}" class="form-control" placeholder="Nhập địa chỉ" required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin vào ô này.')" oninput="this.setCustomValidity('')"></textarea>
                        <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                    </div>
                    <!-- Password (chỉ hiển thị, không chỉnh sửa) -->
                    <div class="form-group">
                        <label class="form-label">Password: </label>
                        <div class="input-group">
                            <label for="password"></label>
                            <input type="password" id="password" class="form-control"
                                   th:value="${user.password}" disabled>
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                                <i id="eyeIcon" class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role" class="form-label">Vai trò: </label>
                        <select id="role" name="role" th:field="*{role}" class="form-control" required oninvalid="this.setCustomValidity('Vui lòng nhập thông tin vào ô này.')" oninput="this.setCustomValidity('')">
                            <option value="ADMIN" >ADMIN</option>
                            <option value="FARMER">Nông trại</option>
                            <option value="BUYER" >Thương Lái</option>
                        </select>

                        <div class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                    </div>
                    <!-- Nút đăng ký -->
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"
                        onclick ="return confirm('Bạn có muốn cập nhật thông tin người dùng này!? ')">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

  </body>
<!-- Include Footer -->
<div th:replace="~{home/footer :: footer}"></div>
<script>
    function togglePassword() {
        var passwordField = document.getElementById("password");
        var eyeIcon = document.getElementById("eyeIcon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>
</html>