<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/allStyle.css">
    <title>Quản lý người dùng</title>
</head>
<body>
    <!-- Include Header -->
    <div th:replace="~{home/header :: header}"></div>

    <!--Content-->
    <div class="container-fluid">

    <h1>Quản lý người dùng</h1>
    <p>Chào mừng đến trang quản lý người dùng</p>

    <!-- Hiển thị thông báo xóa thành công -->
    <div th:if="${successMessage}" class="mess">
        <span th:text="${successMessage}"></span>
    </div>
    <div class="table-container">
     <table class="table table-bordered table-hover">
         <tr>
             <th>No</th>
             <th>Username</th>
             <th>Email</th>
             <th>Phone</th>
             <th>Address</th>
             <th>Role</th>
             <th>Action</th>
         </tr>
         <tr th:each="user : ${users}">
             <td th:text="${userStat.index + 1}"></td>
             <td th:text="${user.username}"></td>
             <td th:text="${user.email}"></td>
             <td th:text="${user.phone}"></td>
             <td th:text="${user.address}"></td>
             <td th:text="${user.role}"></td>
             <td>
                 <a class="btn btn-warning btn-sm btn-action" th:href="@{/editUser/{id}(id=${user.id})}" >
                     <i class="fas fa-edit"></i>Edit
                 </a>

                 <a class="btn btn-danger btn-sm btn-action" th:href="@{/deleteUser/{id}(id=${user.id})}"
                    onclick="return confirm('Bạn có muốn xoá người dùng này?');">
                     <i class="fas fa-trash-alt"></i>Delete
                 </a>
             </td>
     </table>
    </div>
    <!-- Include Footer -->
    <div th:replace="~{home/footer :: footer}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>