<<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <script th:replace="~{script :: scripts}"></script>

  <title>Profile Page</title>
</head>
<body>

<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Main content -->
<main class="container-fluid mt-4">
  <div class="row">
    <!-- Form liên hệ -->
    <div class="col-md-6">
      <h3 class="text-center">Chi tiết người dùng</h3>

      <form th:action="@{/editProfile}" method="post" th:object="${user}">
        <!-- Error message -->
        <div class="text-danger" th:if="${errorMess}" th:text="${errorMess}"></div>
        <!-- Success message -->
        <div class="text-success" th:if="successMess" th:text="${successMess}"></div>

        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" class="form-control" id="name" name="name" th:field="*{username}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" name="email" th:field="*{email}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
          <label for="phone">Số điện thoại:</label>
          <input type="text" class="form-control" id="phone" name="phoneNumber" th:field="*{phone}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ liên lạc:</label>
          <textarea  class="form-control" id="address" name="address" th:field="*{address}" required></textarea>
          <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Save Change</button>
      </form>
    </div>
  </div>

<!-- Include Footer -->
<div th:replace="~{home/footer :: footer}"></div>
</main>
</body>

</html>