<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/allStyle.css">
    <title>Quản lý người dùng</title>
</head>
<body>
    <h1>Quản lý người dùng</h1>
    <p>Chào mừng đến trang quản lý người dùng</p>
    <p>Xin chào:
        <span class="mess" th:text="${session.loggedInUser != null ? session.loggedInUser.username : 'Khách'}"></span>
        <span> đã quay lại</span>
    </p>
    <p>Bấm vào <a href="/home">đây</a> để về trang chủ.</p>
    <p>Bấm vào <a href="/registry">đây</a> để đăng ký.</p>
    <p>Role hiện tại: <span th:text="${session.role}"></span></p>
    <h1>Danh sách người dùng: <span th:text="${users.size()}"></span></h1>

    <!-- Hiển thị thông báo xóa thành công -->
    <div th:if="${successMessage}" class="mess">
        <span th:text="${successMessage}"></span>
    </div>
    <div class="table-container">
     <table>
         <tr>
             <th>No</th>
             <th>Username</th>
             <th>Email</th>
             <th>Phone</th>
             <th>Address</th>
             <th>Role</th>
             <th>Action</th>
         </tr>
         <tr th:each="user : ${users}">
             <td th:text="${userStat.index + 1}"></td>
             <td th:text="${user.username}"></td>
             <td th:text="${user.email}"></td>
             <td th:text="${user.phone}"></td>
             <td th:text="${user.address}"></td>
             <td th:text="${user.role}"></td>
             <td>
                 <a th:href="@{/editUser/{id}(id=${user.id})}" >Edit</a>

                 <a th:href="@{/deleteUser/{id}(id=${user.id})}"
                    onclick="return confirm('Bạn có muốn xoá người dùng này?');">Delete</a>
             </td>
     </table>
    </div>
</body>
</html>