body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;

}
main{
    flex: 1;

}
header{
    background-color:gainsboro;
}
footer {
    margin-top: auto;
    position: relative;
    background-color:gainsboro;
}
.errorMess{
    color: red;
}
.mess{
    color: green;
}

textarea.form-control {
    height: 150px;
}
/* Tùy chỉnh giao diện */
.form-group {
    margin-bottom: 1rem;
}
.form-label {
    text-align: left;
}
.form-control {
    text-align: left; /* Căn ô nhập liệu sang bên phải */
}
.form-group .form-control,
.form-group .form-label {
    display: inline-block;
    width: 75%;
}
.container {
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
.table-container {
    max-height: 300px; /* Giới hạn chiều cao, có thể điều chỉnh */
    overflow-y: auto;  /* Hiển thị thanh cuộn dọc khi nội dung vượt quá */
    border: 1px solid #ccc; /* Thêm viền để nhìn rõ */
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
h1{
    font-weight: bolder;
}
.navbar-nav .nav-link {
    color: green !important; /* Bắt buộc màu xanh lá */
}
