<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/allStyle.css">
  <title>Trang chủ</title>
</head>
<body>
    <h1>Trang chủ</h1>
    <p>Chào mừng đến trang chủ</p>
    <p>Xin chào:
        <span class="mess" th:text="${session.user != null ? session.user.username : 'Khách'}"></span>
        <span> ghé thăm trang của chúng tôi</span>
    </p>
    <p>Bấm vào <a href="/login">đây</a> để đăng nhập.</p>
    <p>Bấm vào <a href="/registry">đây</a> để đăng ký.</p>
    <p>Role hiện tại: <span th:text="${session.role}"></span></p>
    <ul>
        <li th:if="${session.role != null and session.role == 'ADMIN'}">
            <a href="/manageUser">Quản lý người dùng</a>
        </li>

        <li th:if="${session.role != null and (session.role=='ADMIN' or session.role == 'FARMER')}">
            <a href="#">Trang nông trại</a>
        </li>

        <li th:if="${session.role != null and (session.role =='ADMIN' or session.role == 'BUYER')}">
            <a href="#">Quản lý đơn hàng</a>
        </li>
    </ul>
</body>
</html>