<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script th:replace="~{script :: scripts}"></script>

    <title>Blog Detail</title>
</head>
<body>

<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Main content -->
<main class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">

                <div class="card-body">
                    <h3 class="card-title text-primary" th:text="${blog.title}"></h3>
                    <p class="card-text" th:utext="${blog.content}"></p>
                    <p class="text-info">Liên hệ nông trại</p>

                    <!-- Nút Đặt trước để gửi yêu cầu liên hệ -->
                    <form th:action="@{/requestContact}" method="post">
                        <input type="hidden" name="blogId" th:value="${blog.id}" />
                        <button type="submit" class="btn btn-warning text-center">Đặt trước (Yêu cầu liên hệ)</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- Inclucde Footer -->
<div th:replace="~{home/footer :: footer}"></div>


</body>

</html>