<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script th:replace="~{script :: scripts}"></script>

    <title>Blog Detail</title>
</head>
<body>

<!-- Include Header -->
<div th:replace="~{home/header :: header}"></div>

<!-- Main content -->
<main class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">

                <div class="card-body">

                    <h3 class="card-title text-primary" th:text="${blog.title}"></h3>
                    <h5 class="card-subtitle mb-2 text-muted"
                        th:text="${not #lists.isEmpty(blog.tours) ? blog.tours[0].tourName : (not #lists.isEmpty(blog.products) ? blog.products[0].productName : '')}">

                    </h5>
                    <p class="card-text" th:utext="${blog.content}"></p>

                    <p th:if="${session.role =='BUYER'}" class="text-info">Liên hệ nông trại</p>
                    <input type="hidden" th:field="*{blog.id}">
                    <a th:if="${session.role =='BUYER' and productId}" th:href="@{/addOrder/product/{id} (id=${productId}, blogId=${blog.id})}" class="btn btn-warning text-center" >
                        Đặt trước (Yêu cầu liên hệ)
                    </a>
                    <a th:if="${session.role =='BUYER' and tourId}" th:href="@{/addOrder/tour/{id} (id=${tourId}, blogId=${blog.id})}" class="btn btn-warning text-center">
                        Đặt trước (Yêu cầu liên hệ)
                    </a>

                </div>
            </div>
        </div>
    </div>
</main>



<!-- Inclucde Footer -->
<div th:replace="~{home/footer :: footer}"></div>


</body>

</html>