<!-- src/main/resources/templates/home/header.html -->
<header>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand-green"  ><h1>Chợ nông sản sạch</h1></a>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/manageProduct"><strong>Nông sản</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="/manageUser"><strong>Người dùng</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><strong>Đặt hàng</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><strong>Liên hệ</strong></a></li>
                </ul>
            </div>
            <button class="btn btn-primary" type="button" onclick="window.location.href='/login'">Đăng nhập</button>
            <button class="btn btn-primary" type="button" onclick="window.location.href='/registry'" style="margin: 10px;">Đăng ký</button>
        </div>
    </nav>
</header>